/*-- scss:defaults --*/
$code-block-border-left: 1;

.cell-output-stdout pre {
  background: #e4edec;
  color: #0b1f4d;
  padding: 0.25rem 0.75rem;
}


.solution  {
  background: #bec9b3;
  font-size: smaller;
/* color: #0b1f4d;
  padding: 0.25rem 0.75rem;
*/
}

